* text=auto

/.github export-ignore
/examples export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/CONTRIBUTING.md export-ignore
/config.subsplit-publish.json export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/README.md export-ignore
/rector.php export-ignore
/run-tests.sh export-ignore
/SECURITY.md export-ignore
/**/*Test.php export-ignore
